/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";

.seccion_general{
    display:flex;
    flex-direction: row;
}
.izquierda{
    display:flex;
    flex-direction: column;
    height: 100vw ;
    width: 45vw;
}
.derecha{
    width: 100vw;
}